{% extends 'admin/master.html' %}

{% block body %}

    <div class="container">
        <h2>📊 Статистика</h2>
        <p>👥 Пользователей: <strong>{{ stats.users_count }}</strong></p>
        <p>🔍  Запросов: <strong>{{ stats.queries_count }}</strong></p>
        <p>❌ Неудачных запросов: <strong>{{ stats.failed_queries_count }}</strong></p>

        <h3>📌 О системе</h3>
        <p>Добро пожаловать в панель администратора! Здесь вы можете управлять пользователями, отслеживать запросы и анализировать статистику.</p>
    </div>
{% endblock %}
